<h5>Definition of <i><%= @word.name %></i></h5>

<div id="definitions">
  <% if @word.definitions.any? %>
    <ol>
      <% @word.definitions.each do |definition| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.meaning %></a></li>
      <% end %>
    </ol>
  <% else %>
    <p>There are no definitions listed for this word yet.</p>
  <% end %>
</div>

<h6>Add a new definition:</h6>

<form id="" action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <input id="meaning" name="meaning" class="form-control" type="text" placeholder="type a definition here" required>
  </div>
  <button type="submit" class="btn btn-dark">Add definition</button>
  <div><small>-or- <a href="/words/<%= @word.id %>/edit">Edit word name</a></small></div>
</form>

<p><small><a href="/words">Return to word list</a></small></p>
